.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;

}
.checkoutProduct__rating{
    display: flex;

}
.checkoutProduct__info > button{
    background: orangered;
    border:1px solid;
    margin-top: 10px;
    border-color: orangered black blue;
    color:#111;
    cursor: pointer;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}