.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:10px;
    padding: 20px;
    width: 100%;

    min-width: 100px;
    max-height: 400px;
    background-color: white;
    z-index: 1;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;

}

.product__price{
    margin-top:5px ;

}
.product__rating {
    display: flex;
   
    
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit:contain;
    margin-bottom: 15px;
}
.product >button{
    background-color:orange;
    border:1px solid;
    border-color:orangered orangered orangered;
    cursor: pointer;
}